/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=53h0w0kbRt14+E48dwffUpTkImm */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #3C91E6 } /* Main Primary color */
.color-primary-1 { color: #849BB2 }
.color-primary-2 { color: #0B3056 }

.color-secondary-1 { color: #270F3F } /* Main Secondary color (1) */
.color-secondary-2 { color: #0CF480 } /* Main Secondary color (2) */


body {
    background: #849BB2;
}
.timer {
    display: inline-block;
}

.timer .glyhicon,
.controls .glyphicon {
    font-size: 2.5em;
}
.tasks .glyphicon {
    font-size: 3em;
}


button {
    margin: 0;
}

.clock-wrapper {
    height: 15em;
}

.clock-wrapper button,
.clock-wrapper .timer {
    height: 100%;
}

.clock-wrapper .btn {
    background: #A4D39D;
    color: #266C6A;
    width: 100%;
}

.clock-wrapper .btn:hover {
    background: #419334;
    color: #8490AC;
}

.timer {
    vertical-align: top;
}

.clock {
    width: 75%;
    padding-top: 0.5em;
    font-size: 5em;
    background: #999;
}

.glyphicon-remove {
    color: #FF3232;
}

.glyphicon-ok {
    color: #32FF32;
}


.controls .btn {
    background: #68779B;
    color: #266C6A;
    width: 14em;
}

.controls .btn:hover {
    background: #334678;
    color: #9BB7B6;
}

